<h1>RPG WORLD STORE</h1>

<% @products.each do |product| %>
    <div class ='product'>
        <p><b>Product: </b> <%= link_to product.name, product %></p>
        <p><b>Price: </b> <%= product.price %></p>
        <p><b>On Sale For: </b> <%= product.price_sale %></p>
        <p><b>Description: </b> <%= product.description %></p>
    </div>
<% end %>
